blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.8
click==7.1.2
colorama==0.4.4
cymem==2.0.6
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.2.0/en_core_web_trf-3.2.0-py3-none-any.whl
filelock==3.4.0
huggingface-hub==0.2.0
idna==3.3
Jinja2==3.0.3
joblib==1.1.0
langcodes==3.3.0
MarkupSafe==2.0.1
murmurhash==1.0.6
numpy==1.22.0rc1
packaging==21.3
pathy==0.6.1
preshed==3.0.6
pydantic==1.7.4
pyparsing==3.0.6
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
sacremoses==0.0.46
six==1.16.0
smart-open==5.2.1
spacy==3.2.0
spacy-alignments==0.8.4
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacy-nightly==3.0.0rc5
spacy-transformers @ git+https://github.com/explosion/spacy-transformers@3f921f2832f235af1a8a6d14cfda0939bd7b828f
srsly==2.4.2
thinc==8.0.13
tokenizers==0.10.3
torch==1.10.0
tqdm==4.62.3
transformers==4.11.3
typer==0.3.2
typing_extensions==4.0.1
urllib3==1.26.7
wasabi==0.8.2
